.profile-container {
  /* border: 1px solid deeppink; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 18vh;
  margin-bottom: 37vh;
}
.profile-container img {
  width: 12rem;
  height: 15rem;
  /* max-width: 20rem;
  max-height: 20rem; */
  border-radius: 2rem;
  object-fit: cover;
  border: 1px solid gray;
}

.title {
  font-size: 2rem;
  text-align: center;
}
